<div class="product-category-header">
    <div id="navigation_img">
        <!--导航图片的第一层-->
        <div class="navigation_one row">
            <div class=" col-xs-5 row">
                <div class="col-xs-6 grid_shade_father">
                    <a href="#">
                        <div class="grid_shade">
                            <p style="font-size: 15px">
                                不长虫的植物纤维床垫
                            </p>
                            <p style="font-size: 15px">
                                总有适合您的一款
                            </p>
                        </div>
                    </a>
                    <img class="ey-img-lazy" src="__PUBLIC__/v1/images/product_header/product_category_1.jpg"/>
                </div>
                <div class="col-xs-6 grid_shade_father">
                    <a href="#">
                        <div class="grid_shade">文艺青年</div>
                    </a>
                    <img class="ey-img-lazy" src="__PUBLIC__/v1/images/product_header/product_category_2.jpg"/>
                </div>
            </div>
            <div class="col-xs-7 row">
                <div class="col-xs-7 grid_shade_father">
                    <a href="#">
                        <div class="grid_shade">舒适</div>
                    </a>
                    <img class="ey-img-lazy" src="__PUBLIC__/v1/images/product_header/product_category_3.jpg"/>
                </div>
                <div class="col-xs-5 grid_shade_father">
                    <a href="#">
                        <div class="grid_shade">环保</div>
                    </a>
                    <img class="ey-img-lazy" src="__PUBLIC__/v1/images/product_header/product_category_4.jpg"/>
                </div>
            </div>
        </div>
        <!--导航图片的第二层-->
        <div class="navigation_one row">
            <div class="col-xs-7 row">
                <div class="col-xs-7 grid_shade_father">
                    <a href="#">
                        <div class="grid_shade">居家</div>
                    </a>
                    <img class="ey-img-lazy" src="__PUBLIC__/v1/images/product_header/product_category_5.jpg"/>
                </div>
                <div class="col-xs-5 grid_shade_father">
                    <a href="#">
                        <div class="grid_shade">儿童</div>
                    </a>
                    <img src="__PUBLIC__/v1/images/product_header/product_category_6.jpg" class="ey-img-lazy"/>
                </div>
            </div>
            <div class="col-xs-5 row">
                <div class="col-xs-6 grid_shade_father">
                    <a href="#">
                        <div class="grid_shade">绿色</div>
                    </a>
                    <img src="__PUBLIC__/v1/images/product_header/product_category_7.jpg" class="ey-img-lazy"/>
                </div>
                <div class="col-xs-6 grid_shade_father">
                    <a href="#">
                        <div class="grid_shade">洁净</div>
                    </a>
                    <img src="__PUBLIC__/v1/images/product_header/product_category_8.jpg" class="ey-img-lazy"/>
                </div>
            </div>
        </div>

    </div>
</div>
