# Created by .ignore support plugin (hsz.mobi)
.idea
Runtime
.sql
Install
install.php
Application/Common/Conf/config.php
Application/Home/Conf/config.php
Application/User/Conf/config.php
Application/Admin/Conf/config.php
ReadMe