<extend name="Base/common"/>

<block name="body">
    <div class="index-page" id="index-page">

        <div class="title-box text-center">
            <h3 class="title-cn">竹原纤维床垫专家</h3>
        </div>
        <div class="index-show-box">
            <img src="__PUBLIC__/v1/images/index-banner-show.png" draggable="false" alt="">
        </div>
        <div class="title-box text-center">
            <h3 class="title-cn">竹原纤维床垫家族</h3>
        </div>
        <div class="title-box text-center">
            <h3 class="title-cn">
                招商加盟
            </h3>
        </div>
        <div class="join-text-box">
            <div class="container">
                <div class="row">
                    <img src="__PUBLIC__/v1/images/index_join_us.png" alt="">
                </div>
            </div>
        </div>
        <div class="title-box text-center">
            <h3 class="title-cn">电子商城</h3>
        </div>
    </div>
</block>
