<extend name="Base/common"/>

<block name="body">
    <div class="index-page" id="index-page">

        <div class="title-box text-center">
            <h3 class="title-cn">— 竹原纤维床垫专家 —</h3>
        </div>
        <div class="index-show-box">
            <img src="__PUBLIC__/v1/images/index-banner-show.png" draggable="false" alt="">
        </div>
        <div class="title-box text-center">
            <h3 class="title-cn">— 竹原纤维床垫家族 —</h3>
        </div>
        <div class="goods-show-box">
            <div class="row">
                <div class="col-xs-4 box-item">
                    <img src="__PUBLIC__/v1_wap/images/category-show-1.jpg" alt="">
                    <div class="show-layer-box">
                        <a href="{:U('pages/product',array('cat_id'=>48))}">3D梦娜 &gt;</a>
                    </div>
                </div>
                <div class="col-xs-4 box-item">
                    <img src="__PUBLIC__/v1_wap/images/category-show-2.jpg" alt="">
                    <div class="show-layer-box">
                        <a href="{:U('pages/product',array('cat_id'=>49))}">天然乳胶 &gt;</a>
                    </div>
                </div>
                <div class="col-xs-4 box-item">
                    <img src="__PUBLIC__/v1_wap/images/category-show-3.jpg" alt="">
                    <div class="show-layer-box">
                        <a href="{:U('pages/product',array('cat_id'=>50))}">匆匆那年 &gt;</a>
                    </div>
                </div>
            </div>
            <div class="row row-2">
                <div class="col-xs-6 box-item">
                    <img src="__PUBLIC__/v1_wap/images/category-show-1.jpg" alt="">
                    <div class="show-layer-box">
                        <a href="{:U('pages/product',array('cat_id'=>51))}">快乐时光 &gt;</a>
                    </div>
                </div>
                <div class="col-xs-6 box-item">
                    <img src="__PUBLIC__/v1_wap/images/category-show-2.jpg" alt="">
                    <div class="show-layer-box">
                        <a href="{:U('pages/product',array('cat_id'=>52))}">定制系列 &gt;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-box text-center">
            <h3 class="title-cn">— 招商加盟 —</h3>
        </div>
        <div class="join-text-box">
            <div class="container">
                <div class="row">
                    <a href="{:U('pages/join_us')}">
                        <img src="__PUBLIC__/v1/images/index_join_us.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="title-box text-center">
            <h3 class="title-cn">— 电子商城 —</h3>
        </div>
    </div>
</block>
