@charset "UTF-8";
* {
  font-size: 14px; }

.footer .copyright-box p {
  margin: 0; }

.navbar {
  margin: 0px; }

.swiper-container {
  height: auto; }
  .swiper-container .swiper-slide img {
    height: 460px;
    width: 100%; }

/*sleep_center*/
.sleep-center-box {
  margin-top: 20px; }
  .sleep-center-box .pro-title-widget {
    margin-bottom: 20px; }
  .sleep-center-box .img-show-box .show-text-box {
    text-align: left; }
    .sleep-center-box .img-show-box .show-text-box p {
      padding-right: 30px;
      padding-bottom: 10px; }
  .sleep-center-box .img-show-box .feature ul li {
    text-align: left; }
    .sleep-center-box .img-show-box .feature ul li span {
      line-height: 30px; }
  .sleep-center-box .craft-show-box {
    margin-top: 0px; }
  .sleep-center-box .xw-ml .ml-list {
    margin-bottom: 20px; }
    .sleep-center-box .xw-ml .ml-list .item {
      padding: 5px 5px; }
      .sleep-center-box .xw-ml .ml-list .item .row {
        border: 1px solid #ddd;
        background: #fff;
        min-height: 180px; }
        .sleep-center-box .xw-ml .ml-list .item .row img {
          height: 180px;
          width: 100%;
          text-align: left; }
        .sleep-center-box .xw-ml .ml-list .item .row .title {
          padding: 5px 10px;
          margin-top: 10px; }
        .sleep-center-box .xw-ml .ml-list .item .row .desc {
          padding: 5px 10px;
          text-align: left; }

/*join_us*/
.join_conditions {
  margin-top: 0px;
  padding: 20px 0 0px;
  background: transparent; }
  .join_conditions .widget-page-title-box * {
    text-align: center; }
  .join_conditions .name_div {
    margin-top: 0px;
    text-align: center; }
  .join_conditions .introduce_div {
    background: #fff;
    margin-top: 20px; }
    .join_conditions .introduce_div .number {
      padding: 20px;
      font-size: 24px; }
    .join_conditions .introduce_div .introduce {
      width: 100%;
      margin: 0px; }
      .join_conditions .introduce_div .introduce .introduce_attr {
        height: 190px; }
    .join_conditions .introduce_div .next_img {
      padding-bottom: 80px; }

/*widget*/
.widget-page-title {
  text-align: center; }
  .widget-page-title .attr_name_cn, .widget-page-title .attr_name_en {
    text-align: center; }

.pro-title-widget {
  text-align: center;
  background: transparent;
  padding: 15px; }
  .pro-title-widget .tab-box {
    position: relative;
    display: block;
    text-align: center; }
    .pro-title-widget .tab-box a {
      line-height: 30px;
      border: 1px solid #ddd;
      background: #fff;
      width: 100px;
      margin: -3px;
      text-align: center;
      color: #000;
      display: inline-block;
      padding: 10px 20px; }
      .pro-title-widget .tab-box a:hover, .pro-title-widget .tab-box a:active, .pro-title-widget .tab-box a.active {
        text-decoration: none;
        background: #0CA818;
        color: #fff; }
    .pro-title-widget .tab-box.active a {
      text-decoration: none;
      background: #0CA818;
      color: #fff; }

/*product-list*/
.product-list {
  margin-top: 20px; }
  .product-list .widget-page-title-box {
    margin-bottom: 20px; }
  .product-list .dyna-list {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px; }
    .product-list .dyna-list .head-img {
      height: 220px;
      width: 90%; }
    .product-list .dyna-list .col-xs-8 {
      height: 220px; }
      .product-list .dyna-list .col-xs-8 .title {
        margin-top: 20px; }
      .product-list .dyna-list .col-xs-8 .desc {
        padding: 10px 10px; }
      .product-list .dyna-list .col-xs-8 .date {
        position: absolute;
        right: 20px;
        bottom: 10px;
        font-size: 14px;
        color: #1a1a1a; }

/*product-detail*/
.product-detail {
  margin-top: 20px; }
  .product-detail .widget-page-title-box {
    margin-bottom: 20px; }
  .product-detail .path-nav * {
    font-size: 14px; }
  .product-detail .detail-box {
    background: #fff;
    min-height: 450px;
    margin-bottom: 20px;
    padding: 10px; }
    .product-detail .detail-box .content {
      padding: 20px; }
  .product-detail .next-prev {
    margin: 10px 5px;
    line-height: 30px; }
    .product-detail .next-prev * {
      color: #5e5e5e;
      font-size: 17px; }

img.hover-big {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .7;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  img.hover-big:hover {
    opacity: 1;
    transform: scale(1.1); }

/*shop-box*/
.shops .widget-page-title-box {
  margin: 20px; }
.shops .shop-box {
  margin-bottom: 20px; }
  .shops .shop-box .col-xs-4 {
    padding: 15px 40px;
    text-align: center;
    overflow: hidden; }
  .shops .shop-box img {
    text-align: center;
    width: 100%;
    height: 150px;
    transition: .2s all; }
    .shops .shop-box img:hover {
      transform: scale(1.1); }

/*service*/
.customer_service-box {
  margin-top: 0px; }
  .customer_service-box .widget-page-title-box {
    margin-top: 20px; }
  .customer_service-box .show-box .show-type {
    background: rgba(247, 247, 247, 0.91);
    border: 1px solid #ddd; }
    .customer_service-box .show-box .show-type .show_img {
      height: 200px;
      width: 100%; }
  .customer_service-box .dyna-list {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px; }
    .customer_service-box .dyna-list .head-img {
      height: 220px;
      width: 90%; }
    .customer_service-box .dyna-list .col-xs-8 {
      height: 220px; }
      .customer_service-box .dyna-list .col-xs-8 .title {
        margin-top: 20px; }
      .customer_service-box .dyna-list .col-xs-8 .desc {
        padding: 10px 10px; }
      .customer_service-box .dyna-list .col-xs-8 .date {
        position: absolute;
        right: 20px;
        bottom: 10px;
        font-size: 14px;
        color: #1a1a1a; }

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0CA818; }

.new_good_shopspace .col-xs-6 .reserve_money_img .grid_shade_price div {
  line-height: 40px; }

.new_good_shopspace .col-xs-6 .reserve_money_img img {
  line-height: 40px;
  width: 220px;
  height: 40px; }

.new_good_shopspace .col-xs-6 .reserve_money_img .grid_shade_price a {
  height: 25px;
  vertical-align: middle;
  padding: 4px 10px; }

.company-honor-box {
  margin-top: 0px;
  background: transparent; }
  .company-honor-box .widget-page-title-box {
    margin-top: 20px; }
  .company-honor-box #tab-page-2 .left-data img {
    height: 650px;
    width: 100%; }
  .company-honor-box #tab-page-2 .show-main {
    padding: 30px; }
  .company-honor-box #tab-page-2 .show-text {
    padding: 20px; }
  .company-honor-box .widget-step {
    list-style: none;
    margin-bottom: 50px; }
    .company-honor-box .widget-step .step-item {
      overflow: hidden;
      padding: 0px 20px;
      margin-bottom: 10px; }
      .company-honor-box .widget-step .step-item .date {
        font-size: 25px;
        padding: 15px; }
      .company-honor-box .widget-step .step-item .step-box {
        border-radius: 25px;
        height: 70px;
        border-bottom: 5px solid #0CA818; }
        .company-honor-box .widget-step .step-item .step-box .title {
          border-radius: 25px;
          float: left;
          height: 70px;
          line-height: 70px;
          width: 200px;
          background: #0CA818;
          color: #fff;
          text-align: center; }
        .company-honor-box .widget-step .step-item .step-box .content {
          margin-left: 20px;
          padding: 10px;
          margin-top: 10px;
          display: inline-block; }
      .company-honor-box .widget-step .step-item:nth-child(odd) .step-box .title {
        background: #0CA818;
        display: inline-block; }
      .company-honor-box .widget-step .step-item:nth-child(even) .step-box .title {
        display: inline-block; }
  .company-honor-box .about-company .row-f {
    background: rgba(221, 221, 221, 0.91);
    padding: 30px; }
    .company-honor-box .about-company .row-f img {
      height: 200px;
      margin-top: 20px; }
    .company-honor-box .about-company .row-f .content-text {
      padding: 30px; }
  .company-honor-box .about-company .row-b {
    background: rgba(255, 255, 255, 0.86);
    padding: 30px; }
    .company-honor-box .about-company .row-b .head-text-box {
      text-align: center; }
      .company-honor-box .about-company .row-b .head-text-box h1 {
        border-radius: 50%;
        width: auto;
        display: inline-block;
        padding: 50px;
        color: #fff; }
        .company-honor-box .about-company .row-b .head-text-box h1.kj {
          background: #00aaaa; }
        .company-honor-box .about-company .row-b .head-text-box h1.cx {
          background: #63FCF9; }
        .company-honor-box .about-company .row-b .head-text-box h1.hb {
          background: #88ED1E; }
    .company-honor-box .about-company .row-b .content-text {
      padding: 30px; }
  .company-honor-box .about-company .row-a {
    background: rgba(238, 238, 238, 0.87);
    padding: 30px; }
    .company-honor-box .about-company .row-a .head-text-box {
      text-align: center; }
      .company-honor-box .about-company .row-a .head-text-box img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        color: #fff;
        border: 10px solid rgba(221, 221, 221, 0.87); }
    .company-honor-box .about-company .row-a .content-text {
      padding: 30px; }

/*浜у搧椤甸潰*/
.product-page-box .widget-page-title-box {
  margin-top: 10px; }
.product-page-box .product_datails {
  margin-top: 0px; }
  .product-page-box .product_datails .five_kindof_bedspace {
    margin: 0; }
    .product-page-box .product_datails .five_kindof_bedspace .five_displayshop_title {
      background: transparent; }
    .product-page-box .product_datails .five_kindof_bedspace .five_displayshop_body .col-xs-4 {
      overflow: hidden;
      margin-bottom: 10px;
      padding: 0; }
      .product-page-box .product_datails .five_kindof_bedspace .five_displayshop_body .col-xs-4 img {
        padding: 10px 15px;
        height: 280px;
        transition: all .3s; }
        .product-page-box .product_datails .five_kindof_bedspace .five_displayshop_body .col-xs-4 img:hover {
          transform: scale(1.1); }
      .product-page-box .product_datails .five_kindof_bedspace .five_displayshop_body .col-xs-4 p {
        color: #0CA818;
        font-size: 15px; }
      .product-page-box .product_datails .five_kindof_bedspace .five_displayshop_body .col-xs-4 a:hover {
        text-decoration: none; }
  .product-page-box .product_datails .attr_lists li a {
    margin: 0 10px; }
.product-page-box .diy_space {
  margin: 20px auto; }
  .product-page-box .diy_space .diy_space_img .plus {
    font-size: 50px;
    font-weight: 800;
    color: #0CA818;
    height: auto; }
.product-page-box .diy_space_tell {
  margin-bottom: 20px; }
  .product-page-box .diy_space_tell p {
    line-height: 25px; }
.product-page-box .diy_space_tell {
  width: 100%; }

.product-category-header #navigation_img .navigation_one .grid_shade_father {
  height: 230px;
  overflow: hidden; }
.product-category-header #navigation_img .navigation_one {
  height: auto; }
.product-category-header #navigation_img .navigation_one .grid_shade_father img {
  width: 100%;
  height: 230px;
  transition: .3s all; }
  .product-category-header #navigation_img .navigation_one .grid_shade_father img:hover .grid_shade {
    display: block; }

.navbar-nav {
  margin: 0 auto; }

.header {
  background: url(../images/header-navbar-bg.png);
  background-size: 100% 100%; }

.header .navbar-river {
  margin-bottom: -10px; }
  .header .navbar-river .navbar-ul-river {
    text-align: center;
    display: block;
    width: 90%;
    padding-left: 10%; }

.header .navbar-ul-river li a {
  width: 110px;
  text-align: center;
  font-size: 15px;
  border-bottom: none;
  line-height: 30px;
  padding: 5px; }
  .header .navbar-ul-river li a:hover {
    color: #fff;
    background-color: #0CA818;
    border-bottom: none; }

.index-page {
  /*widget*/ }
  .index-page .title-box {
    color: #296E2A; }
    .index-page .title-box .title-en {
      margin: 0; }
    .index-page .title-box .title-cn {
      margin-bottom: 10px; }
  .index-page .shop-s-box {
    background: #eee;
    padding: 20px; }
    .index-page .shop-s-box .shop-box .col-xs-4 {
      padding: 15px 60px; }
    .index-page .shop-s-box .shop-box img {
      width: 100%; }
  .index-page .product-change-box .col-xs-4 {
    overflow: hidden;
    padding: 5px 10px 5px; }
    .index-page .product-change-box .col-xs-4 img {
      border: 1px solid #eee;
      width: 100%;
      transition: .3s all; }
      .index-page .product-change-box .col-xs-4 img:hover {
        transform: scale(1.1); }
  .index-page .index-category-list .tab-box .tab-item {
    margin: 0 5px;
    line-height: 20px;
    cursor: pointer; }
    .index-page .index-category-list .tab-box .tab-item:hover, .index-page .index-category-list .tab-box .tab-item.active {
      background: #CD914D; }
  .index-page .index-category-list .product-list-inline-box .col-xs-4 {
    transition: all .3s;
    padding: 20px; }
    .index-page .index-category-list .product-list-inline-box .col-xs-4 img {
      height: 200px;
      width: 100%; }
    .index-page .index-category-list .product-list-inline-box .col-xs-4 .title {
      color: #2f905e; }
  .index-page .friend-link-box {
    color: #5e9048;
    padding: 20px 20px; }
    .index-page .friend-link-box .list-inline {
      margin-top: 10px;
      padding-left: 10px; }
    .index-page .friend-link-box a {
      font-size: 15px;
      color: #5e9048; }
  .index-page .split-tree-line {
    border-top: 3px solid #94CD5A;
    text-align: center; }
    .index-page .split-tree-line .shape-tree {
      margin: 0 auto;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 30px solid #94CD5A; }
  .index-page .join-text-box {
    margin-top: 15px;
    margin-bottom: 20px; }
    .index-page .join-text-box .left-img {
      margin-top: 45px; }
    .index-page .join-text-box img {
      width: 100%;
      padding: 15px; }
    .index-page .join-text-box .title {
      color: #CCBFA2;
      text-align: center; }
    .index-page .join-text-box .content {
      color: #5e9048;
      line-height: 22px;
      padding: 20px; }
  .index-page .index-show-box {
    margin-top: 20px; }
    .index-page .index-show-box img {
      width: 100%;
      height: 620px; }
  .index-page .index-show-box-2 {
    margin-top: 15px;
    margin-bottom: 20px; }
    .index-page .index-show-box-2 img {
      width: 100%;
      height: 320px; }

.footer .footer-part-box {
  background: #E9F8DA; }

/**
 *鍔ㄧ敾
 */
.index-list-enter-active, .index-list-move, .index-list-leave-active {
  transition: all .3s; }

.index-list-enter-active {
  animation: demo .5s; }

.index-list-move {
  transition: transform 1s; }

.index-list-enter, .index-list-leave-active {
  opacity: 0;
  transform: translateY(30px); }

@keyframes demo {
  0% {
    transform: scale(1.3); } }
/**Author:https://github.com/zhaojunlike**/
#oeynet-oneline-service {
  z-index: 1001;
  background: #798186;
  position: fixed;
  top: 160px;
  right: -190px; }
  #oeynet-oneline-service .content-box {
    position: relative; }
  #oeynet-oneline-service .service-show-title {
    width: 50px;
    position: absolute;
    overflow: hidden;
    height: 130px;
    cursor: pointer;
    right: 190px;
    background: #416CA8;
    text-align: center;
    color: #fff; }
    #oeynet-oneline-service .service-show-title .show-title {
      font-size: 20px;
      margin: 0; }
    #oeynet-oneline-service .service-show-title .tree-shape {
      width: 0;
      height: 0;
      margin: 5px auto;
      border-top: 5px solid transparent;
      border-right: 8px solid #0CA818;
      border-bottom: 5px solid transparent; }
  #oeynet-oneline-service .main-box {
    position: absolute;
    right: 0;
    top: 0;
    background: #DDECF3;
    min-width: 190px;
    min-height: 260px; }
    #oeynet-oneline-service .main-box .row-phone {
      display: block; }
      #oeynet-oneline-service .main-box .row-phone img {
        display: block;
        height: 55px;
        width: 60px;
        margin: 5px auto; }
      #oeynet-oneline-service .main-box .row-phone p {
        margin: 0 0 10px;
        font-size: 17px;
        text-align: center; }
    #oeynet-oneline-service .main-box .row-qq {
      background: #416CA8;
      width: 100%;
      display: block;
      height: 220px;
      overflow: hidden; }
      #oeynet-oneline-service .main-box .row-qq img {
        display: block;
        height: 55px;
        width: 60px;
        margin: 5px auto; }
      #oeynet-oneline-service .main-box .row-qq .ey-btn {
        width: 70%;
        margin: 15px auto; }
      #oeynet-oneline-service .main-box .row-qq h3 {
        text-align: center;
        color: #eee; }
    #oeynet-oneline-service .main-box .row-join {
      width: 100%;
      padding: 10px 0px;
      height: 80px;
      background: #fff;
      text-align: center;
      display: block; }
      #oeynet-oneline-service .main-box .row-join p {
        color: #416CA8; }
      #oeynet-oneline-service .main-box .row-join .ey-btn {
        width: 70%;
        margin: 5px auto;
        border: 1px solid #416CA8; }
    #oeynet-oneline-service .main-box .ey-btn {
      line-height: 30px;
      border: 1px solid transparent;
      display: inline-block;
      text-align: center;
      color: #416CA8;
      background: #DDECF3;
      cursor: pointer; }
      #oeynet-oneline-service .main-box .ey-btn:hover, #oeynet-oneline-service .main-box .ey-btn.active, #oeynet-oneline-service .main-box .ey-btn:focus {
        text-decoration: none; }
    #oeynet-oneline-service .main-box .ey-btn-block {
      display: block; }

.pagination li.active a, .pagination li.active span {
  color: #fff;
  background-color: #0CA818;
  border-color: #0CA818; }
.pagination li a, .pagination li span {
  color: #0CA818; }
  .pagination li a:focus, .pagination li a:hover, .pagination li span:focus, .pagination li span:hover {
    color: #fff;
    background-color: #0CA818; }

/*# sourceMappingURL=total.css.map */
