<extend name="Base/common"/>
<block name="body">
    <div class="company-honor-box">
        <div class="widget-page-title-box text-center">
            <h2 class="attr_name_cn">—&nbsp;长江梦竹纤维床垫领导品牌&nbsp;—</h2>
            <h3 class="attr_name_en">Yangtze River Dream Bamboo Fiber Leadership Brand</h3>
        </div>
        <div class="pro-title-widget">
            <div class="tab-box" role="tablist" id="pageTab">
                <a class="tab-item active" role="tab" data-toggle="tab" href="#tab-page-1">公司介绍</a>
                <a class="tab-item" role="tab" data-toggle="tab" href="#tab-page-2">公司荣誉</a>
                <a class="tab-item" role="tab" data-toggle="tab" href="#tab-page-3">发展路上</a>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-page-1">
                <div class="clearfix"></div>
                <div class="about-company">
                    <div class="row-f">
                        <div class="">
                            <h3 class="title text-center">
                                宜宾长顺竹木产业有限公司
                            </h3>
                            <div class="text-center">
                                <img src="__PUBLIC__/v1/images/about_company.png" alt="">
                            </div>
                            <div class="container content-text">
                                <p>
                                    宜宾长顺竹木产业有限公司建成于2008年，由四川省长江造林局（四川长江林业集团有限公司）全额投资建设，是一家专注于竹原纤维材料研究、开发、生产及销售的高科

                                    技型企业。</p>
                                <p>
                                    公司生产研发基地位于宜宾市长宁县龙头镇龙双工业园区，占地面积3.46万平方米，建筑面积12233平方米，总资产5000余万元，年产值达3000万元。2008年8月、2016

                                    年2月被宜宾市政府命名为“宜宾市级农业产业化龙头企业”，2011年12月，被四川省级林业产业化龙头企业认定和管理领导小组评定为“四川省首批林业产业化龙头企业”；

                                    2016年6月被四川省林业厅评为“省级林业产业化龙头企业”。</p>
                            </div>
                        </div>
                    </div>
                    <div class="row-b">
                        <div class="container head-text-box">
                            <div class="row">
                                <div class="col-xs-4">
                                    <h1 class="kj">科技</h1>
                                </div>
                                <div class="col-xs-4">
                                    <h1 class="cx">创新</h1>
                                </div>

                                <div class="col-xs-4">
                                    <h1 class="hb">环保</h1>
                                </div>
                            </div>
                        </div>
                        <div class="container content-text">
                            <p> 目前，公司研发生产的纺织竹原纤维质量稳定，远销日本；用于生产高弹软体材料的竹原纤维销往成都、重庆、天津、漳州等地，产品质量优良，受到国内外客商的好评。</p>
                            <p> 公司坚持以市场为导向，以创新为动力，以质量求生存，以发展求壮大的治企理念，依托研发中心平台，积极探索绿色发展新路径，力争打造成为西南地区乃至全国竹资源
                                深度加工行业标杆。</p>
                        </div>

                    </div>
                    <div class="row-a">
                        <div class="container head-text-box">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img src="__PUBLIC__/v1/images/about_company.png" alt="">
                                </div>
                                <div class="col-xs-4">
                                    <img src="__PUBLIC__/v1/images/about_company.png" alt="">
                                </div>

                                <div class="col-xs-4">
                                    <img src="__PUBLIC__/v1/images/about_company.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="container content-text">

                            <p> 目前，公司研发生产的纺织竹原纤维质量稳定，远销日本；用于生产高弹软体材料的竹原纤维销往成都、重庆、天津、漳州等地，产品质量优良，受到国内外客商的好评。</p>
                            <p> 公司坚持以市场为导向，以创新为动力，以质量求生存，以发展求壮大的治企理念，依托研发中心平台，积极探索绿色发展新路径，力争打造成为西南地区乃至全国竹资源

                                深度加工行业标杆。</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--公司荣誉-->
            <div role="tabpanel" class="tab-pane " id="tab-page-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 show-main">
                            <div class="show-img">
                                <img src="__PUBLIC__/v1/images/company_honor_image/company_honor.png" alt=""
                                     class="img-responsive">
                            </div>
                            <div class="show-text">
                                <h3 class="text-center">西博会</h3>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司坚持以市场为导向，以创新为动力，以质量求生存，以发展求壮大的治企理念，依托研发中心平台，积极探索绿色发展新路径，力争打造成为西南地区乃
                                    至全国竹资源深度加工行业标杆。
                                </p>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    公司坚持以市场为导向，以创新为动力，以质量求生存，以发展求壮大的治企理念，依托研发中心平台，积极探索绿色发展新路径，力争打造成为西南地区乃
                                    至全国竹资源深度加工行业标杆。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="tab-page-3">
                <div class="container ">
                    <!--里程碑组件-->
                    <ul class="widget-step">
                        <li class="step-item">
                            <h4 class="date">2016年</h4>
                            <div class="step-box">
                                <span class="title">长江梦</span>
                                <span class="content">
                                        长江梦品牌床垫与2008年正式上线

                                        产品深受消费者喜欢
                                    </span>
                            </div>
                        </li>
                        <li class="step-item">
                            <h4 class="date">2015年</h4>
                            <div class="step-box">
                                <span class="title">长江梦</span>
                                <span class="content">
                                        长江梦品牌床垫与2008年正式上线

                                        产品深受消费者喜欢
                                    </span>
                            </div>
                        </li>

                        <li class="step-item">
                            <h4 class="date">2014年</h4>
                            <div class="step-box">
                                <span class="title">长江梦</span>
                                <span class="content">
                                        长江梦品牌床垫与2008年正式上线

                                        产品深受消费者喜欢
                                    </span>
                            </div>
                        </li>

                        <li class="step-item">
                            <h4 class="date">2013年</h4>
                            <div class="step-box">
                                <span class="title">长江梦</span>
                                <span class="content">
                                        长江梦品牌床垫与2008年正式上线

                                        产品深受消费者喜欢
                                    </span>
                            </div>
                        </li>

                        <li class="step-item">
                            <h4 class="date">2012年</h4>
                            <div class="step-box">
                                <span class="title">长江梦</span>
                                <span class="content">
                                        长江梦品牌床垫与2008年正式上线

                                        产品深受消费者喜欢
                                    </span>
                            </div>
                        </li>

                        <li class="step-item">
                            <h4 class="date">2011年</h4>
                            <div class="step-box">
                                <span class="title">长江梦床垫</span>
                                <span class="content">
                                        长江梦品牌床垫与2008年正式上线

                                        产品深受消费者喜欢
                                    </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="footer">

</block>