<extend name="Base/common"/>
<block name="banner"></block>
<block name="body">
    <div class="product-page-box">
        <include file="Base/product_category"/>
        <div class="widget-page-title-box text-center">
            <h2 class="attr_name_cn">—&nbsp;DIY专区&nbsp;—</h2>
            <h3 class="attr_name_en">JOIN INVESTMENT</h3>
        </div>
        <div class="pro-title-widget">
            <div class="tab-box">
                <a class="tab-item" href="{:U('pages/product')}">系列产品</a>
                <a class="tab-item" href="{:U('pages/recommend')}">新品推荐</a>
                <a class="tab-item active" href="{:U('pages/diy')}">DIY专区</a>
            </div>
        </div>
        <div class="row">
            <div class="diy_space">
                <div class="diy_space_img">
                            <span>
                                <a href="javascript:void(0);">
                                <img class="ey-img-lazy"
                                     src="__PUBLIC__/v1/images/img/diy.jpg"/></a>
                            </span>
                    <span class="plus">+</span>
                    <span><a href="javascript:void(0);"><img class="ey-img-lazy"
                                                             src="__PUBLIC__/v1/images/diy_cz.png"/></a></span>
                    <span class="plus">+</span>
                    <span><a href="javascript:void(0);"><img class="ey-img-lazy"
                                                             src="__PUBLIC__/v1/images/diy_ml.png"/></a></span>
                    <span class="plus">+</span>
                    <span><a href="javascript:void(0);"><img class="ey-img-lazy"
                                                             src="__PUBLIC__/v1/images/diy_tw.png"/></a></span>
                </div>
            </div>
            <div class="diy_space_tell">
                <h3>为您量身定做——最舒适的睡眠</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    选择您喜欢的厚度，体验不一样的柔软；2种健康材质供您选择，高弹床垫芯材、3E环保床垫芯材；面料多样化，冬暖夏凉，可自由更换；换上您最喜欢的花样图纹，带给你不同
                    的视觉体验！
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了更好的爱护自己，请选择健康环保的床垫！您过的舒心，我们才更会安心！为了更好的爱护自己，请选择健康环保的床垫！您过的舒心，我们才更会安心！</p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    如若您需要定制，请联系我们的客服~他们会详细记录您的需要！当然也可以联系当地的实体店，更有利于您的需要！为了更好的爱护自己，请选择健康环保的床垫！您过的舒
                    心，我们才更会安心！
                </p>
            </div>
        </div>
    </div>
    </div>
</block>
