<extend name="Base/common"/>
<block name="body">
    <div class="product-page-box">
        <div class="title-box text-center">
            <h3 class="title-cn">—&nbsp;系列产品&nbsp;—</h3>
        </div>
        <div class="product_datails" id="product_page">
            <article>
                <!--产品详情的专区-->
                <div class="five_kindof_bedspace">
                    <div class="five_shopdatails container">
                        <ul class="attr_lists list-inline list-unstyled">
                            <!--属性列表-->
                            <volist name="_category_list" id="vo">
                                <li class="list-item col-xs-3">
                                    <eq name="vo.id" value="$_cat_id">
                                        <a class="active" href="{:U('pages/product',array('cat_id'=>$vo['id']))}">{$vo.title}</a>
                                        <else/>
                                        <a href="{:U('pages/product',array('cat_id'=>$vo['id']))}">{$vo.title}</a>
                                    </eq>
                                </li>
                            </volist>
                        </ul>
                    </div>
                    <div class="five_displayshop_body container">
                        <div class="row">
                            <!--产品列表-->
                            <volist name="_product_list" id="vo">
                                <div class="col-xs-4">
                                    <img class="ey-img-lazy" src="__ROOT__{$vo.path}"/>
                                    <div class="show-layer-box">
                                        <p class="title">{$vo.title}</p>
                                        <p>售价：
                                            <php>echo $vo['old_price']*$vo['ze_kou']/10;</php>
                                        </p>
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </div>
                    <div class="five_changedisplay text-center row">
                        <div>{$_page}</div>
                    </div>
                </div>
            </article>
        </div>

    </div>
</block>
