<extend name="Base/common"/>
<block name="body">
    <div class="join_conditions">
        <!-- 大标题 -->
        <div class="widget-page-title-box">
            <h2 class="attr_name_cn">—&nbsp;招商加盟&nbsp;—</h2>
            <h3 class="attr_name_en">JOIN INVESTMENT</h3>
        </div>
        <div class="pro-title-widget">
            <div class="tab-box" role="tablist" id="pageTab">
                <a class="tab-item active" role="tab" data-toggle="tab" href="#join_lc">加盟流程</a>
                <a class="tab-item" role="tab" data-toggle="tab" href="#join_tj">加盟条件</a>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="join_lc">
                <div class="introduce_div">
                    <div class="introduce">
                        <span class="span_attr introduce_attr">具备一定的经济实力；具有一定的市场操作水平；认同大自然的发展规划和运营理念；有家具运作经验值优先.。</span>
                        <span class="span_attr next"><img class="next_img"
                                                          src="__PUBLIC__/v1/images/tag-left.png"></span>
                        <span class="span_attr introduce_attr">具备一定的经济实力；具有一定的市场操作水平；认同大自然的发展规划和运营理念；有家具运作经验值优先.。</span>
                        <span class="span_attr next"><img class="next_img"
                                                          src="__PUBLIC__/v1/images/tag-left.png"></span>
                        <span class="span_attr introduce_attr">具备一定的经济实力；具有一定的市场操作水平；认同大自然的发展规划和运营理念；有家具运作经验值优先.。</span>
                        <span class="span_attr next"><img class="next_img"
                                                          src="__PUBLIC__/v1/images/tag-left.png"></span>
                        <span class="span_attr introduce_attr">具备一定的经济实力；具有一定的市场操作水平；认同大自然的发展规划和运营理念；有家具运作经验值优先.。</span>
                    </div>
                    <!-- 热线 -->
                    <h2 class="number">
                        加盟热线：0831-11111111
                    </h2>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="join_tj">
                <div class="introduce_div">
                    <div class="introduce">
                        <span class="span_attr introduce_attr">具备一定的经济实力；具有一定的市场操作水平；认同大自然的发展规划和运营理念；有家具运作经验值优先.。</span>
                        <span class="span_attr next"><img class="next_img"
                                                          src="__PUBLIC__/v1/images/tag-left.png"></span>
                        <span class="span_attr introduce_attr">具备一定的经济实力；具有一定的市场操作水平；认同大自然的发展规划和运营理念；有家具运作经验值优先.。</span>
                        <span class="span_attr next"><img class="next_img"
                                                          src="__PUBLIC__/v1/images/tag-left.png"></span>
                        <span class="span_attr introduce_attr">具备一定的经济实力；具有一定的市场操作水平；认同大自然的发展规划和运营理念；有家具运作经验值优先.。</span>
                        <span class="span_attr next"><img class="next_img"
                                                          src="__PUBLIC__/v1/images/tag-left.png"></span>
                        <span class="span_attr introduce_attr">具备一定的经济实力；具有一定的市场操作水平；认同大自然的发展规划和运营理念；有家具运作经验值优先.。</span>
                    </div>
                    <!-- 热线 -->
                    <h2 class="number">
                        加盟条件加盟热线：0831-11111111
                    </h2>
                </div>
            </div>
        </div>
        <script>
            $(function () {


            });
        </script>
    </div>
</block>