<extend name="Base/common"/>
<block name="body">
    <div class="shops">
        <!-- 大标题 -->
        <div class="widget-page-title-box text-center">
            <h2 class="attr_name_cn text-center">—&nbsp;电子商城&nbsp;—</h2>
            <h3 class="attr_name_en text-center">Yangtze Dream Shop</h3>
        </div>
        <div class="shop-box container">
            <div class="row">
                <div class="col-xs-4">
                    <a href="">
                        <img class="img-responsive"
                             src="__PUBLIC__\v1\images\electronc_shopping_image\electronc_shopping_left.png" alt="">
                    </a>
                </div>

                <div class="col-xs-4">
                    <a href="">
                        <img class="img-responsive"
                             src="__PUBLIC__\v1\images\electronc_shopping_image\electronc_shopping_center.png" alt="">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="">
                        <img class="img-responsive"
                             src="__PUBLIC__\v1\images\electronc_shopping_image\electronc_shopping_right.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</block>